{% extends 'base.html' %}
{% block page %}

<link rel="stylesheet" href="..//static//css/pricing.css">
    <div class="columns">
  <ul class="price">
    <li class="header">Ödənişsiz</li>
    <li class="grey">$ 0.00 / 1 həftə</li>
    <li>Təsdiq emaili</li>
    <li>100 rezerv</li>
    <li>100 e-mail</li>
    <li>admin-panel</li>
    <li class="grey"><a href="#" class="button">Qeydiyyatdan keç</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header"> Pro </li>
    <li class="grey">$ 10.99 / aylıq</li>
    <li>Rezervlərin idarəsi</li>
    <li>500 rezerv</li>
    <li>500 e-mail</li>
    <li>admin-panel və statistika</li>
    <li class="grey"><a href="#" class="button">Qeydiyyatdan keç</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">Premium</li>
    <li class="grey">$ 99.99 / illik</li>
    <li>Rezervlərin idarəsi</li>
    <li>7000 rezerv</li>
    <li>7000 istifadəçi məlumatı</li>
    <li>admin-panel, illik statistika</li>
    <li class="grey"><a href="#" class="button">Qeydiyyatdan keç</a></li>
  </ul>
</div>

{% endblock %}
{% block title %}
{{ title }}    
{% endblock %}

